<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.mypc.ezenglish">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.WelcomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LessonActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.VocaActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ItemLessonActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.ItemActivity"></activity>

        <activity
            android:name=".activity.RecordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>

        <service
            android:name="com.example.mypc.ezenglish.service.SongService"
            android:enabled="true"
            android:exported="true"/>

        <receiver android:name="com.example.mypc.ezenglish.receiver.NotificationBroadcast">
            <intent-filter>
                <action android:name="com.example.mypc.ezenglish.delete"/>
                <action android:name="com.example.mypc.ezenglish.pause"/>
                <action android:name="com.example.mypc.ezenglish.next"/>
                <action android:name="com.example.mypc.ezenglish.play"/>
                <action android:name="com.example.mypc.ezenglish.previous"/>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.AlarmBroadcastReceiver"
            android:process=":remote">
            <intent-filter android:priority="0">
                <action android:name="ACTION"/>

                <data android:scheme="SCHEME"/>
                <data android:host="HOSTNAME"/>
            </intent-filter>
        </receiver><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>

</manifest>